extends layout

block content
  h1= title
  p Welcome to #{title}
  p Step 1
  p Enter your phone number
    &nbsp;
    input
    button next!
  p Step 2
  p Text in your pictures & enjoy the show!

  .pictures
    .picture-1 Picture #1
    .picture-2 Picture #2
    .picture-3 Picture #3

